/* 导航栏1 */
.header {
  width: 100%;
  height: 62px;
  background-color: #fff;
}

.header-contain {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.header-l {
  float: left;
}
.header-l-font {
  display: inline-block;
  vertical-align: top;
  height: 31px;
  margin-top: 3px;
}

 .header-l-font .uns {
  margin-left: 12px;
  font-weight: 700;
}

.header-l-font span:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 64px;
  font-size: 13px;
}

.header-l .search {
  display: inline-block;
  margin-left: 60px;
  width: 770px;
  height: 40px;
  border-radius: 24px;
  background-color: #eee;
  font-size: 14px;
  border: 1px solid transparent;
}

.search .sousuo {
  height: 38px;
  width: 30px;
  display: inline-block;
  position: relative;
}

.search svg {
  width: 30px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 5px;
  opacity: 0.6;
}

.search input {
  height: 40px;
  border-radius: 24px;
  background-color: #eee;
  font-size: 14px;
  border: 1px solid transparent;
  background: none;
  border: none;
  color: #111;
  width: 700px;
  position: absolute;
  left: 238px;
  top: 10px;

}

.header-l .logo {
  margin-top: 6px;
  height: 32px;
  width: 32px;
  float: left;
}

.header .header-r {
  float: left;
  margin-top: 10px;
}

.header-r ul {
  display: inline-block;
  padding-left: 36px;
  padding-right: 36px;
}

.header-r ul li {
  display: inline-block;
  font-size: 14px;
}

.en {
  padding: 20px 12px;
  color: #767676;
}

._3DJPT {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.header .header-r ul li:nth-child(3) {
  vertical-align: middle;
  line-height: 1;
}

.but {
  margin-left: 10px;
  margin-top: 7px;
  margin-right: 48px;
  display: inline-block;
}

.but button {
  color: #767676;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  border-radius: 4px;
}

.line-s {
  height: 32px;
  width: 1px;
  background-color: #d1d1d1;
  position: absolute;
  top: 15px;
  right: 190px;
}

.login {
  position: absolute;
  right: 32px;
  top: 18px;
}

.login .log {
  position: absolute;
  top: 0px;
  right: 90px;
  color: #767676;
}

.login .join {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #3cb46e;
  height: 35px;
  width: 80px;
  border-radius: 4px;
}

.login .free {
  color: #fff;
  line-height: 35px;
  margin-left: 10px;
}

/* 导航栏2 */
.nav {
  width: 100%;
  height: 56px;
  background-color: #fff;
  position: absolute;
  top: 61.9px;
  z-index: 9;
}

.nav-left {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.edi {
  height: 56px;
  display: inline-block;
}

.edi li {
  line-height: 56px;
}

.nav .line {
  height: 32px;
  width: 1px;
  background-color: #d1d1d1;
  margin-top: 12px;
  float: left;
  margin-bottom: 12px;
}

.nav .nav-right {
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
  font-size: 0;
}

.nav .nav-right ul li {
  line-height: 56px;
  margin-left: 30px;
  font-size: 14px;
  color: #767676;
}

/* 第三块 */
.pic {
  width: 100%;
  height: 593px;
  margin-bottom: 48px;
  position: absolute;
  top: 118px;
}

.pic img {
  width: 100%;
  height: 593px;
}

.Di {
  position: absolute;
  left: 360px;
  top: 135px;
  width: 66.66667%;
  margin-right: auto;
  width: 684px;
  height: 262px;
}

.pic .Di .unsplash {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #fff;
}

.pic .Di h1 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
}

.pic .Di p {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 24px;
}

.center-search {
  width: 864px;
  height: 54px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  margin-bottom: 16px;
}

.center-search button {
  width: 34px;
  background-color: #fff;
  border: none;
  height: 54px;
}

 .center-search button svg {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  padding-left: 14px;
}

.center-search input {
  top: 20px;
  left: 48px;
  position: absolute;
  width: 811px;
  border: none;
}

.center-search input:focus {
  outline: none;
}
 .center-font {
  color: #fff;
}
